@page
@using SOSResources.Models
@model HendrixSOSResources.Pages.Profiles.DetailsModel

@{
    ViewData["Title"] = "Profile View";
}

<div>
    <h4>Profile</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.HendrixID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.HendrixID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Classification)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Classification)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.CampusAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.CampusAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.CampusEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.CampusEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.EmFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.EmFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.EmLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.EmLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.EmEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.EmEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.EmPhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.EmPhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.EmRelationship)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.EmRelationship)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.CurrentEmployer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.CurrentEmployer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.CurrentEmployerPhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.CurrentEmployerPhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.JobPosition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.JobPosition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Pay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Pay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.PayPeriod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.PayPeriod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.MonthlyWages)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.MonthlyWages)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.FinAidStatement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.FinAidStatement)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.ReferredBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.ReferredBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Profile.CampusEmail">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

<hr />
<h4>Requests</h4>

@if (!Model.Requests.Any())
{
    <p>No requests found for this profile.</p>
}
else
{
    <h5>Pending Requests</h5>
    <table class="table table-striped table-hover mb-4">
        <thead>
            <tr>
                <th>Resource</th>
                <th>Need Within 24h</th>
                <th>Reason</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var r in Model.Requests.Where(r => r.Status == RequestStatus.Pending))
        {
            <tr>
                <td>@r.Resource.Name</td>
                <td>@(r.NeedWithin24Hours ? "Yes" : "No")</td>
                <td>@r.Reason</td>
                <td>@r.CreatedAt.ToString("g")</td>
            </tr>
        }
        </tbody>
    </table>

    <h5>Approved Requests</h5>
    <table class="table table-striped table-hover mb-4">
        <thead>
            <tr>
                <th>Resource</th>
                <th>Need Within 24h</th>
                <th>Reason</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var r in Model.Requests.Where(r => r.Status == RequestStatus.Approved))
        {
            <tr>
                <td>@r.Resource.Name</td>
                <td>@(r.NeedWithin24Hours ? "Yes" : "No")</td>
                <td>@r.Reason</td>
                <td>@r.CreatedAt.ToString("g")</td>
            </tr>
        }
        </tbody>
    </table>

    <h5>Denied Requests</h5>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Resource</th>
                <th>Need Within 24h</th>
                <th>Reason</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var r in Model.Requests.Where(r => r.Status == RequestStatus.Denied))
        {
            <tr>
                <td>@r.Resource.Name</td>
                <td>@(r.NeedWithin24Hours ? "Yes" : "No")</td>
                <td>@r.Reason</td>
                <td>@r.CreatedAt.ToString("g")</td>
            </tr>
        }
        </tbody>
    </table>
}

