@page
@model HendrixSOSResources.Pages.Profiles.IndexModel

@{
    ViewData["Title"] = "Profiles";
}

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Profile[0].HendrixID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile[0].CampusEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Profile) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HendrixID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampusEmail)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.CampusEmail">View full profile</a>
            </td>
        </tr>
}
    </tbody>
</table>