@page
@model HendrixSOSResources.Pages.Requests.CreateModel

@{
    ViewData["Title"] = "SOS Request Form";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/site.js"></script>
</head>

<body style="text-align: center;">

    <h1 class="fade-in" style="text-align: center; color: #e96b10;">@ViewData["Title"]</h1>

    <p class="fade-in" style="text-align: center;">
        <b>Use the below fields to submit a request for a resource you need.</b>
    </p>

    <form id="resourceForm" method="post">
        <div class="row" style="display: flex; align-items: center;">
            <div class="col"></div>
            <div class="col fade-in" style="display: flex; margin-bottom: 10px;">
                <p style="white-space: nowrap; margin-right: 20px; padding-top: 2px;">Please pick a resource:</p>
                <select id="resourceSelect" asp-for="Request.ResourceId" style="margin-top: 5px;">
                    @foreach (var resource in Model.Resources)
                    {
                        if (resource.Type != SOSResources.Models.ResourceType.Textbook) {
                            <option value="@resource.ID">@resource.Name</option>
                        }
                    }
                <option id="textbookIDOption">Textbook</option>
                </select>
            </div>
            <div class="col"></div>
        </div>

        <table id="textbookTable" class="table table-striped table-hover fade-in" style="display: none;">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Resources[0].Type)
                    </th>
                    <th>
                        Author/Edition
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Resources[0].Quantity)
                    </th>
                    <th>Select</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Resources) {
                    if (item.Type == SOSResources.Models.ResourceType.Textbook) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                <input type="radio" name="textbookRadio" id="textbookRadio_@item.ID" asp-for="Request.ResourceId" value="@item.ID" style="display: flex; margin-left: 60px; accent-color: #e96b10">
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <div class="row" style="display: flex; align-items: center;">
            <div class="col"></div>
            <div class="col fade-in" style="display: flex; margin-bottom: 10px;">
                <p style="margin-right: 100px; white-space: nowrap;">I need this within 24 hours:</p>
                <label for="needHours" style="margin-right: 5px;">Yes</label>
                <input type="radio" asp-for="Request.NeedWithin24Hours" value="true" style="display: flex; margin-top: 6.5px; margin-right: 45px; accent-color: #e96b10">
                <label for="notNeedHours" style="margin-right: 5px;">No</label>
                <input type="radio" asp-for="Request.NeedWithin24Hours" value="false" style="display: flex; margin-top: 6.5px; accent-color: #e96b10">
            </div>
            <div class="col"></div>
        </div>

        <p class="fade-in" style="margin-top: 10px">For what reason do you need this resource? Be as specific as you are able:</p>
        <textarea id="reasonForm" class="fade-in" style="margin-bottom: 10px;" asp-for="Request.Reason" rows="10" cols="72"></textarea><br>
        <input type="submit" id="submitButton" value="Submit" class="submit-button fade-in">
    </form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var resourceForm = document.getElementById('resourceForm');  // resources dropdown
        var resourceSelect = document.getElementById('resourceSelect');  // dropdown menu item
        var textbookTable = document.getElementById('textbookTable');  // self-explanatory

        resourceSelect.addEventListener('change', function() {
            var selectedOption = this.options[this.selectedIndex].text;
            if (selectedOption.includes("Textbook")) {
                textbookTable.style.display = 'table';
            } else {
                textbookTable.style.display = 'none';
                document.querySelectorAll('input[name="textbookRadio"]').forEach(function(radio) {
                    radio.checked = false;  // resets if something else selected
                });
            }
        });

        resourceForm.addEventListener('submit', function(event) {
            var selectedOption = resourceSelect.options[resourceSelect.selectedIndex].text;
            var selectedRadio = document.querySelector('input[name="textbookRadio"]:checked').value;
                console.log(selectedRadio);
            if (selectedOption.includes("Textbook")) {
                var selectedRadio = document.querySelector('input[name="textbookRadio"]:checked').value;
                console.log(selectedRadio);
                resourceSelect.value = selectedRadio
            }
        });
    });
</script>
</body>