@page
@model HendrixSOSResources.Pages.Requests.IndexModel

@{
    ViewData["Title"] = "Requests";
}

<h1 style="color: #e96b10">All Requests</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].Resource.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].NeedWithin24Hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].CreatedAt)
            </th>
            <th> 
                @Html.DisplayNameFor(model => model.Requests[0].Status) 
            </th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Requests) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Resource.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NeedWithin24Hours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.Status) 
            </td> 
            @if (item.Status == SOSResources.Models.RequestStatus.Pending) 
                { 
                    <form method="post" asp-page-handler="Approve" asp-route-id="@item.Id"> 
                        <button type="submit" class="btn btn-success">Approve</button> 
                    </form> 
                    <form method="post" asp-page-handler="Deny" asp-route-id="@item.Id"> 
                        <button type="submit" class="btn btn-danger">Deny</button> 
                    </form> 
                } 
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>