@page
@model HendrixSOSResources.Pages.Resources.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Resource</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resource.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resource.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resource.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resource.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resource.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resource.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resource.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resource.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resource.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resource.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Resource.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
